.main-game-page{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.gamePage{
    width: var(100% - 40px);
    height: 100%;
    overflow: hidden;
}

.top-nav{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.top-nav h1{
    font-family: "CSGreg";
    font-size: 50px;
    color: #765B00;
}
.gifs-overlay {
    overflow: hidden;
}

.gifs-overlay img {
    position: absolute;
    height: 400px;
    overflow: hidden;
}

.gifs-overlay img:nth-child(1) {
    top: -50px;
    left: 20px;
    width: 267.22px;
    height: 289.8px;
    transform: rotate(-149.75deg);
}

.gifs-overlay img:nth-child(2) {
    top: -20px;
    right: -30px;
    width: 367px;
    height: 398px;
    transform: rotate(-94.69deg);
}

.gifs-overlay img:nth-child(3) {
    bottom: -50px;
    left: -50px;
    width: 367px;
    height: 398px;
    transform: rotate(33.25deg);
}

.notice2{
    display: none;
}
.game-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.inputs{
    display: flex;
    align-items: center;
}

.inputs input{
    padding: 20px 0px;
    width: 196px;
    background: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid black;
    font-size: 20px;
    font-family: "CSGreg";
}

.txt-title{
    font-family: "Crimson Text";
}

.inputs span{
    font-size: 60px;
    font-family: "Crimson Text";
}

#second-food{
    padding: 20px;
}

.inputs input:focus{
    outline: none;
}
.inputs input:active{
    outline: none;
}

.results-div-parent{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000054;
}

.results-div{
    position: relative;
    max-width: 766px;
    width: 100%;
    height: 478px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px;
    background-color: #FFCD45;
    border: 3px solid #765B00;
    border-radius: 5px;
}

.close-btn{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 2px solid #765B00;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    transition: all 0.2s ease;
}

.close-btn svg{
    transition: all 0.2s ease;
}

.close-btn:hover svg {
    filter: brightness(0) saturate(100%) invert(98%) sepia(3%) saturate(2%) hue-rotate(342deg) brightness(106%) contrast(101%);
}

.close-btn:hover {
    background: #765B00;
}

.score-title h1{
    font-size: 50px;
    font-family: "Crimson Text";
}

.random-sena{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.aiAnswer{
    max-width: 556px;
}

.aiAnswer span{
    font-family: "Crimson Text";
    font-size: 35px;
    text-align: center;
    line-height: 100%;
}

.aiAnswer{
    text-align: center;
}

.random span{
    font-family: "Crimson Text";
    color: #5F3200;
    font-size: 25px;
}

.notice-result{
    width: 619px;
    text-align: center;
}

.notice-result span{
    font-size: 17px;
    font-family: "Crimson Text";
    line-height: 90%;
}

@media (max-width: 998px) {
    .gifs-overlay img:nth-child(1) {
            top: -20px;
            left: 20px;
            width: 167.22px;
            height: 189.8px;
            transform: rotate(-159.75deg);
        }
    
        .gifs-overlay img:nth-child(2) {
            top: -20px;
            right: 0px;
            width: 167px;
            height: 198px;
            transform: rotate(-94.69deg);
        }
    
        .gifs-overlay img:nth-child(3) {
            bottom: -20px;
            left: 10px;
            width: 167px;
            height: 198px;
            transform: rotate(23.25deg);
        }
}

@media (max-width: 660px) {
    body {
            overflow: hidden;
        }
    
        .notice2 {
            position: fixed;
            z-index: 200000000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: #FFCD45;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .notice2 h1 {
            width: 90%;
            text-align: center;
            font-family: "Crimson Text";
            line-height: 90%;
            color: #765B00;
        }
}